

/* NAVIGATION BAR */
a{
 color:black;	
 font-size:10px;
 text-decoration:none;
}

a:hover{
	color:gray;
	text-decoration:none;
}

nav{
	border-bottom: solid 1px orange;
	background-color:white;
	
}


.img-display{
 width:100%;
}
.img-logo{
 width:80%;
} 

.b-logo{
 color:black;
}

body{
 background-color: #ffffe6;/*#ffffe6;*/
}

p{
	font-size:14px; 
	text-align:center;
}

footer{
	background-color:white;
	padding:2%;
	border-top:solid 1px orange;	
	margin-top:2%;

}



.card-heading{
	padding:1%;
	background-color:white;
}

.card-body{
 padding:2%;
}
/*line-height:1em;*/
.card-img-overlay{ 
	visibility:hidden;
	background-color:white;
	font-size:12px;
}